@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200..1000&display=swap');

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Main Styling */
html,
body {
  font-family: 'Mulish', sans-serif;
  color: #4d4d4d;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  margin-bottom: 15px;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

p {
  font-size: 1rem;
  margin: 10px 0;
  line-height: 1.7em;
}

a {
  text-decoration: none;
  color: #4d4d4d;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.container-cards {
  display: flex;
  padding: 30px;
}

/* Navbar */
.navbar {
  height: 80px;
  box-shadow: 0 4px 8px rgba(0,0,0,.075);
}

.navbar .logo {
  font-size: x-large;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

/* Panel */
.panel-1 {
  background: url(/img/slider-1.jpg);
}
.panel-2 {
  background: url(/img/slider-2.jpg);
}
.panel-3 {
  background: url(/img/slider-3.jpg);
}
.panel-4 {
  background: url(/img/slider-4.jpg);
}
.panel-5 {
  background: url(/img/slider-5.jpg);
}

.panel {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
}

/* Footer */
.mainfooter {
  text-align: center;
  padding: 30px 0;
}

/* Media Querie */
@media(max-width: 760px) {
  .container {
    width: 100%;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}