@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

/* Root */
* {
  box-sizing: border-box;
}

/* General Styling */
html,
body {
  font-family: 'Muli', sans-serif;
  color: #4d4d4d;
}

/* Main Classes */
.container {
  display: flex;
  /* width: 90vw; */
  width: 70vw;
  margin: 0 auto;
}

.container-main{
  margin: auto;
  max-width: 70vw;
  overflow: auto;
  padding: 0 10px;
}

/* Navbar */
#navbar {
  overflow: auto;
  margin-bottom: 30px;
}

#navbar .logo {
  float: left;
  padding-top: 10px;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
  color: #4d4d4d;
  text-decoration: none;
}

#navbar ul li a:hover {

}

.logo {
  font-weight: bold;
  text-transform: uppercase;
}

.shadow {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

/* Panel */
.panel-1 {
  background: url('../img/slider-1.jpg');
}
.panel-2 {
  background: url('../img/slider-2.jpg');
}
.panel-3 {
  background: url('../img/slider-3.jpg');
}
.panel-4 {
  background: url('../img/slider-4.jpg');
}
.panel-5 {
  background: url('../img/slider-5.jpg');
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height: 80vh; */
  height: 60vh;
  border-radius: 0px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

/* Media Querie */
@media(max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}